---
import BaseLayout from "./BaseLayout.astro";

const { frontmatter } = Astro.props;
---

<BaseLayout path={Astro.url.pathname} pageTitle={frontmatter.title}>
  <article>
    <h1>{frontmatter.title}</h1>
    {frontmatter.author && <p>By {frontmatter.author}</p>}
    <time datetime={frontmatter.pubDate.toISOString()}>
      {
        frontmatter.pubDate.toLocaleDateString("en-US", {
          year: "numeric",
          month: "long",
          day: "numeric",
        })
      }
    </time>
    {
      frontmatter.tags && frontmatter.tags.length > 0 && (
        <div>
          {frontmatter.tags.map((tag: string) => (
            <span>{tag}</span>
          ))}
        </div>
      )
    }
    <slot />
  </article>
</BaseLayout>
